# MongoDB (required)
DATABASE_URL="mongodb+srv://USER:PASSWORD@cluster.mongodb.net/h1ms?retryWrites=true&w=majority"

# NextAuth v5 (required)
NEXTAUTH_URL="http://localhost:3000"
AUTH_SECRET="generate-with-openssl-rand-base64-32"
